src/main/xsd/igssitelog/baseContactLib.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2015 sp2 (http://www.altova.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:contact="http://sopac.ucsd.edu/ns/geodesy/doc/igsSiteLog/contact/2004" targetNamespace="http://sopac.ucsd.edu/ns/geodesy/doc/igsSiteLog/contact/2004" elementFormDefault="qualified">
	<xsd:simpleType name="telephoneOrFaxType">
		<xsd:restriction base="xsd:string">
			<!--  xsd:pattern value="\d{3}-\d{3}-\d{4}" / -->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="contactType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="telephonePrimary" type="contact:telephoneOrFaxType" nillable="true"/>
			<xsd:element name="telephoneSecondary" type="contact:telephoneOrFaxType" nillable="true"/>
			<xsd:element name="fax" type="contact:telephoneOrFaxType" nillable="true"/>
			<xsd:element name="e-mail" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="contactInformationType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="agency" type="xsd:string"/>
			<xsd:element name="preferredAbbreviation" type="xsd:string" nillable="true"/>
			<xsd:element name="mailingAddress" type="xsd:string" nillable="true"/>
			<xsd:element name="primaryContact" type="contact:contactType" nillable="true"/>
			<xsd:element name="secondaryContact" type="contact:contactType" nillable="true"/>
			<xsd:element name="notes" type="xsd:string"/>
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>
