src/main/xsd/igssitelog/formInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2015 sp2 (http://www.altova.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mi="http://sopac.ucsd.edu/ns/geodesy/doc/igsSiteLog/monumentInfo/2004" targetNamespace="http://sopac.ucsd.edu/ns/geodesy/doc/igsSiteLog/monumentInfo/2004" elementFormDefault="qualified">
	<xsd:complexType name="siteIdentificationType">
		<xsd:sequence>
			<xsd:element name="siteName" type="xsd:string"/>
			<xsd:element name="fourCharacterID" type="xsd:string"/>
			<xsd:element name="monumentInscription" type="xsd:string"/>
			<xsd:element name="iersDOMESNumber" type="xsd:string"/>
			<xsd:element name="cdpNumber" type="xsd:string"/>
			<xsd:element name="monumentDescription" type="mi:monumentDescriptionTypeOfType"/>
			<xsd:element name="heightOfTheMonument" type="xsd:string"/>
			<xsd:element name="monumentFoundation" type="xsd:string"/>
			<xsd:element name="foundationDepth" type="xsd:string"/>
			<xsd:element name="markerDescription" type="xsd:string"/>
			<xsd:element name="dateInstalled" type="mi:dateInstalledType"/>
			<xsd:element name="geologicCharacteristic" type="mi:geologicCharacteristicType"/>
			<xsd:element name="bedrockType" type="xsd:string"/>
			<xsd:element name="bedrockCondition" type="xsd:string"/>
			<xsd:element name="fractureSpacing" type="xsd:string"/>
			<xsd:element name="faultZonesNearby" type="mi:faultZonesNearbyType"/>
			<xsd:element name="distance-Activity" type="xsd:string"/>
			<xsd:element name="notes" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="siteLocationType">
		<xsd:sequence>
			<xsd:element name="city" type="xsd:string"/>
			<xsd:element name="state" type="xsd:string"/>
			<xsd:element name="country" type="xsd:string"/>
			<xsd:element name="tectonicPlate" type="mi:tectonicPlateTypeOfTypes"/>
			<xsd:element name="approximatePositionITRF">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="xCoordinateInMeters" type="xsd:string"/>
						<xsd:element name="yCoordinateInMeters" type="xsd:string"/>
						<xsd:element name="zCoordinateInMeters" type="xsd:string"/>
						<xsd:element name="latitude-North" type="xsd:string"/>
						<xsd:element name="longitude-East" type="xsd:string"/>
						<xsd:element name="elevation-m_ellips." type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="notes" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="moreInformationType">
		<xsd:all>
			<xsd:element name="primaryDataCenter" type="xsd:string"/>
			<xsd:element name="secondaryDataCenter" type="xsd:string"/>
			<xsd:element name="urlForMoreInformation" type="xsd:string"/>
			<xsd:element name="hardCopyOnFile" type="xsd:string"/>
			<xsd:element name="siteMap" type="xsd:string"/>
			<xsd:element name="siteDiagram" type="xsd:string"/>
			<xsd:element name="horizonMask" type="xsd:string"/>
			<xsd:element name="monumentDescription" type="xsd:string"/>
			<xsd:element name="sitePictures" type="xsd:string"/>
			<xsd:element name="notes" type="xsd:string"/>
			<xsd:element name="antennaGraphicsWithDimensions" type="xsd:string"/>
			<xsd:element name="insertTextGraphicFromAntenna" type="xsd:string"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="formInformationType">
		<xsd:sequence>
			<xsd:element name="preparedBy" type="xsd:string"/>
			<xsd:element name="datePrepared" type="xsd:string"/>
			<xsd:element name="reportType" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="geologicCharacteristicType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="BEDROCK"/>
			<xsd:enumeration value="Bedrock"/>
			<xsd:enumeration value="CLAY"/>
			<xsd:enumeration value="Clay"/>
			<xsd:enumeration value="GRAVEL"/>
			<xsd:enumeration value="Gravel"/>
			<xsd:enumeration value="SAND"/>
			<xsd:enumeration value="Sand"/>
			<xsd:enumeration value="SEDIMENTS"/>
			<xsd:enumeration value="Sediments"/>
			<xsd:enumeration value="CONGLOMERATE"/>
			<xsd:enumeration value="Conglomerate"/>
			<xsd:enumeration value=""/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="monumentDescriptionTypeOfType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="pillar"/>
			<xsd:enumeration value="brass plate"/>
			<xsd:enumeration value="steel mast"/>
			<xsd:enumeration value="shallow rod/braced antenna mount"/>
			<xsd:enumeration value="removeable tripod / concrete pad"/>
			<xsd:enumeration value="Wyatt/Agnew drilled-braced"/>
			<xsd:enumeration value="Wyatt/Agnew driven braced"/>
			<xsd:enumeration value="rock-pin/metal-tripod"/>
			<xsd:enumeration value="rock-pin"/>
			<xsd:enumeration value="glued-rod"/>
			<xsd:enumeration value="wall"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="faultZonesNearbyType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Yes"/>
			<xsd:enumeration value="No"/>
			<xsd:enumeration value="Name_of_Zone"/>
			<xsd:enumeration value=""/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="dateInstalledType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}Z"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tectonicPlateTypeOfTypes">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="African"/>
			<xsd:enumeration value="African Indian/Australia"/>
			<xsd:enumeration value="African Eurasian"/>
			<xsd:enumeration value="Antarctic"/>
			<xsd:enumeration value="Arabian"/>
			<xsd:enumeration value="Caribbean"/>
			<xsd:enumeration value="Cocos"/>
			<xsd:enumeration value="Eurasian"/>
			<xsd:enumeration value="Indian/Australian"/>
			<xsd:enumeration value="Nazca"/>
			<xsd:enumeration value="North America"/>
			<xsd:enumeration value="North America Pacific"/>
			<xsd:enumeration value="Pacific"/>
			<xsd:enumeration value="Phillipine"/>
			<xsd:enumeration value="South American"/>
			<xsd:enumeration value="South American African"/>
			<xsd:enumeration value="Juan De Fuca"/>
			<xsd:enumeration value="Scotia"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
