src/main/xsd/igssitelog/igsSiteLog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2015 sp2 (http://www.altova.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://sopac.ucsd.edu/ns/geodesy/doc/igsSiteLog/2004" xmlns:mi="http://sopac.ucsd.edu/ns/geodesy/doc/igsSiteLog/monumentInfo/2004" xmlns:equip="http://sopac.ucsd.edu/ns/geodesy/doc/igsSiteLog/equipment/2004" xmlns:li="http://sopac.ucsd.edu/ns/geodesy/doc/igsSiteLog/localInterferences/2004" xmlns:contact="http://sopac.ucsd.edu/ns/geodesy/doc/igsSiteLog/contact/2004" targetNamespace="http://sopac.ucsd.edu/ns/geodesy/doc/igsSiteLog/2004" elementFormDefault="qualified" version="0.0.1-beta">
	<xsd:import namespace="http://sopac.ucsd.edu/ns/geodesy/doc/igsSiteLog/equipment/2004" schemaLocation="receiver.xsd"/>
	<xsd:import namespace="http://sopac.ucsd.edu/ns/geodesy/doc/igsSiteLog/localInterferences/2004" schemaLocation="radioInterferences.xsd"/>
	<xsd:import namespace="http://sopac.ucsd.edu/ns/geodesy/doc/igsSiteLog/monumentInfo/2004" schemaLocation="formInformation.xsd"/>
	<xsd:import namespace="http://sopac.ucsd.edu/ns/geodesy/doc/igsSiteLog/contact/2004" schemaLocation="baseContactLib.xsd"/>
	<xsd:complexType name="igsSiteLogType">
		<xsd:annotation>
			<xsd:documentation>
       This derived complexType combines all relevant site metadata schemas
       to build a complete igs site log schema. 
     </xsd:documentation>
		</xsd:annotation>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="formInformation" type="mi:formInformationType"/>
			<xsd:element name="siteIdentification" type="mi:siteIdentificationType"/>
			<xsd:element name="siteLocation" type="mi:siteLocationType"/>
			<xsd:element name="gnssReceiver" type="equip:gnssReceiverType"/>
			<xsd:element name="gnssAntenna" type="equip:gnssAntennaType"/>
			<xsd:element name="surveyedLocalTies" type="equip:surveyedLocalTiesType"/>
			<xsd:element name="frequencyStandard" type="equip:frequencyStandardType"/>
			<xsd:element name="collocationInformation" type="equip:collocationInformationType"/>
			<xsd:element name="humiditySensor" type="equip:humiditySensorType"/>
			<xsd:element name="pressureSensor" type="equip:pressureSensorType"/>
			<xsd:element name="temperatureSensor" type="equip:temperatureSensorType"/>
			<xsd:element name="waterVaporSensor" type="equip:waterVaporSensorType"/>
			<xsd:element name="otherInstrumentation" type="equip:otherInstrumentationType"/>
			<xsd:element name="radioInterferences" type="li:radioInterferencesType"/>
			<xsd:element name="multipathSources" type="li:basePossibleProblemSourcesType"/>
			<xsd:element name="signalObstructions" type="li:basePossibleProblemSourcesType"/>
			<xsd:element name="localEpisodicEvents" type="li:localEpisodicEventsType"/>
			<xsd:element name="contactAgency" type="contact:contactInformationType"/>
			<xsd:element name="responsibleAgency" type="contact:contactInformationType"/>
			<xsd:element name="moreInformation" type="mi:moreInformationType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="igsSiteLog" type="igsSiteLogType"/>
</xsd:schema>
