src/main/xsd/igssitelog/radioInterferences.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2015 sp2 (http://www.altova.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:li="http://sopac.ucsd.edu/ns/geodesy/doc/igsSiteLog/localInterferences/2004" targetNamespace="http://sopac.ucsd.edu/ns/geodesy/doc/igsSiteLog/localInterferences/2004" elementFormDefault="qualified">
	<xsd:complexType name="basePossibleProblemSourcesType">
		<xsd:sequence>
			<xsd:element name="possibleProblemSources" type="xsd:string"/>
			<xsd:element name="effectiveDates" type="xsd:string"/>
			<xsd:element name="notes" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="localEpisodicEventsType">
		<xsd:sequence>
			<xsd:element name="date" type="xsd:string"/>
			<xsd:element name="event" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="radioInterferencesType">
		<xsd:complexContent>
			<xsd:extension base="li:basePossibleProblemSourcesType">
				<xsd:sequence>
					<xsd:element name="observedDegradations" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
