src/main/xsd/igssitelog/receiver.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2015 sp2 (http://www.altova.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:equip="http://sopac.ucsd.edu/ns/geodesy/doc/igsSiteLog/equipment/2004" xmlns:gr="http://sopac.ucsd.edu/ns/geodesy/base/geodeticEquipment/gnssReceiver/2003/10" xmlns:ga="http://sopac.ucsd.edu/ns/geodesy/base/geodeticEquipment/gnssAntenna/2003/10" xmlns:grad="http://sopac.ucsd.edu/ns/geodesy/base/geodeticEquipment/gnssRadome/2003/10" targetNamespace="http://sopac.ucsd.edu/ns/geodesy/doc/igsSiteLog/equipment/2004" elementFormDefault="qualified">
	<!--<xsd:import namespace="http://sopac.ucsd.edu/ns/geodesy/base/geodeticEquipment/gnssAntenna/2003/10" schemaLocation="gnssAntenna.xsd"/>-->
	<!--<xsd:import namespace="http://sopac.ucsd.edu/ns/geodesy/base/geodeticEquipment/gnssRadome/2003/10" schemaLocation="gnssRadome.xsd"/>-->
	<!--<xsd:import namespace="http://sopac.ucsd.edu/ns/geodesy/base/geodeticEquipment/gnssReceiver/2003/10" schemaLocation="gnssReceiver.xsd"/>-->

	<xsd:complexType name="gnssReceiverType">
		<xsd:sequence>
			<!--<xsd:element name="receiverType" type="gr:igsReceiverModelCodeType"/>-->
			<xsd:element name="receiverType" type="xsd:string"/>
			<xsd:element name="satelliteSystem" type="equip:satelliteSystemTypeOfType"/>
			<xsd:element name="serialNumber" type="xsd:string"/>
			<xsd:element name="firmwareVersion" type="xsd:string"/>
			<xsd:element name="elevationCutoffSetting" type="xsd:string"/>
			<xsd:element name="dateInstalled" type="equip:requiredDateType"/>
			<xsd:element name="dateRemoved" type="equip:optionalDateType"/>
			<xsd:element name="temperatureStabilization" type="xsd:string"/>
			<xsd:element name="notes" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="baseSensorEquipmentType">
		<xsd:sequence>
			<xsd:element name="type" type="xsd:string"/>
			<xsd:element name="manufacturer" type="xsd:string"/>
			<xsd:element name="serialNumber" type="xsd:string"/>
			<xsd:element name="heightDiffToAntenna" type="xsd:string"/>
			<xsd:element name="calibrationDate" type="xsd:string"/>
			<xsd:element name="effectiveDates" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="antennaReferencePointType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="BPA"/>
			<xsd:enumeration value="BCR"/>
			<xsd:enumeration value="BGP"/>
			<xsd:enumeration value="TPA"/>
			<xsd:enumeration value="TCR"/>
			<xsd:enumeration value="TGR"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="satelliteSystemTypeOfType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="n/a"/>
			<xsd:enumeration value="GPS"/>
			<xsd:enumeration value="GLONASS"/>
			<xsd:enumeration value="GPS+GLONASS"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="instrumentationTypeOfType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Absolute Gravimeter"/>
			<xsd:enumeration value="Circumzenithal VUGTK"/>
			<xsd:enumeration value="DORIS"/>
			<xsd:enumeration value="DORIS/SLR"/>
			<xsd:enumeration value="DORIS/SLR/VLBI"/>
			<xsd:enumeration value="Earth Tide Gravimeter"/>
			<xsd:enumeration value="GLONASS receiver"/>
			<xsd:enumeration value="WLRS"/>
			<xsd:enumeration value="PRARE"/>
			<xsd:enumeration value="DORIS/SLR/VLBI"/>
			<xsd:enumeration value="Earth Tide Gravimeter"/>
			<xsd:enumeration value="GLONASS receiver"/>
			<xsd:enumeration value="WLRS"/>
			<xsd:enumeration value="PRARE"/>
			<xsd:enumeration value="Radio Telescope"/>
			<xsd:enumeration value="SATREF"/>
			<xsd:enumeration value="Siesmometer"/>
			<xsd:enumeration value="SLP"/>
			<xsd:enumeration value="Satellite Laser Ranging"/>
			<xsd:enumeration value="SLR/VLBI"/>
			<xsd:enumeration value="Very Large Baseline Interferometry"/>
			<xsd:enumeration value="Superconducting Gravimeter"/>
			<xsd:enumeration value="Transportable Integrated Geodetic Observatory"/>
			<xsd:enumeration value="Tidal Gravimeter"/>
			<xsd:enumeration value="Very Broad Band Seismograph"/>
			<xsd:enumeration value="Campaign Mode GPS"/>
			<xsd:enumeration value="Continuously Operating GPS"/>
			<xsd:enumeration value="Transit"/>
			<xsd:enumeration value="Not Available/unknown"/>
			<xsd:enumeration value=""/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="statusType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="n/a"/>
			<xsd:enumeration value="ACTIVE"/>
			<xsd:enumeration value="MOBILE"/>
			<xsd:enumeration value="PERMANENT"/>
			<xsd:enumeration value="REMOVED"/>
			<xsd:enumeration value=""/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="standardTypeOfType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="H-MASER"/>
			<xsd:enumeration value="CESIUM"/>
			<xsd:enumeration value="QUARTZ"/>
			<xsd:enumeration value="INTERNAL"/>
			<xsd:enumeration value="RUBIDIUM"/>
			<xsd:enumeration value=""/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="requiredDateType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}Z"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="optionalDateType">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}Z"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value=""/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	<xsd:complexType name="otherInstrumentationType">
		<xsd:sequence>
			<xsd:element name="instrumentation" type="xsd:string"/>
			<xsd:element name="effectiveDates" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="waterVaporSensorType">
		<xsd:complexContent>
			<xsd:extension base="equip:baseSensorEquipmentType">
				<xsd:sequence>
					<xsd:element name="distanceToAntenna" type="xsd:string"/>
					<xsd:element name="notes" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="temperatureSensorType">
		<xsd:complexContent>
			<xsd:extension base="equip:baseSensorEquipmentType">
				<xsd:sequence>
					<xsd:element name="dataSamplingInterval" type="xsd:string"/>
					<xsd:element name="accuracy-degreesCelcius" type="xsd:string"/>
					<xsd:element name="aspiration" type="xsd:string"/>
					<xsd:element name="notes" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="pressureSensorType">
		<xsd:complexContent>
			<xsd:extension base="equip:baseSensorEquipmentType">
				<xsd:sequence>
					<xsd:element name="dataSamplingInterval" type="xsd:string"/>
					<xsd:element name="accuracy-hPa" type="xsd:string"/>
					<xsd:element name="notes" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="humiditySensorType">
		<xsd:complexContent>
			<xsd:extension base="equip:baseSensorEquipmentType">
				<xsd:sequence>
					<xsd:element name="dataSamplingInterval" type="xsd:string"/>
					<xsd:element name="accuracy-percentRelativeHumidity" type="xsd:string"/>
					<xsd:element name="aspiration" type="xsd:string"/>
					<xsd:element name="notes" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="collocationInformationType">
		<xsd:sequence>
			<xsd:element name="instrumentationType" type="equip:instrumentationTypeOfType"/>
			<xsd:element name="status" type="equip:statusType"/>
			<xsd:element name="effectiveDates" type="xsd:string"/>
			<xsd:element name="notes" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="surveyedLocalTiesType">
		<xsd:sequence>
			<xsd:element name="tiedMarkerName" type="xsd:string"/>
			<xsd:element name="tiedMarkerUsage" type="xsd:string"/>
			<xsd:element name="tiedMarkerCDPNumber" type="xsd:string"/>
			<xsd:element name="tiedMarkerDOMESNumber" type="xsd:string"/>
			<xsd:element name="differentialComponentsGNSSMarkerToTiedMonumentITRS">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="dx" type="xsd:string"/>
						<xsd:element name="dy" type="xsd:string"/>
						<xsd:element name="dz" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="localSiteTiesAccuracy" type="xsd:string"/>
			<xsd:element name="surveyMethod" type="xsd:string"/>
			<xsd:element name="dateMeasured" type="equip:optionalDateType"/>
			<xsd:element name="notes" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="frequencyStandardType">
		<xsd:sequence>
			<xsd:element name="standardType" type="equip:standardTypeOfType"/>
			<xsd:element name="inputFrequency" type="xsd:string"/>
			<xsd:element name="effectiveDates" type="xsd:string"/>
			<xsd:element name="notes" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="gnssAntennaType">
		<xsd:sequence>
			<!--<xsd:element name="antennaType" type="ga:igsAntennaModelCodeType"/>-->
			<xsd:element name="antennaType" type="xsd:string"/>
			<xsd:element name="serialNumber" type="xsd:string"/>
			<xsd:element name="antennaReferencePoint" type="equip:antennaReferencePointType"/>
			<xsd:element name="marker-arpUpEcc." type="xsd:string"/>
			<xsd:element name="marker-arpNorthEcc." type="xsd:string"/>
			<xsd:element name="marker-arpEastEcc." type="xsd:string"/>
			<xsd:element name="alignmentFromTrueNorth" type="xsd:string"/>
			<!--<xsd:element name="antennaRadomeType" type="grad:igsRadomeModelCodeType"/>-->
			<xsd:element name="antennaRadomeType" type="xsd:string"/>
			<xsd:element name="radomeSerialNumber" type="xsd:string"/>
			<xsd:element name="antennaCableType" type="xsd:string"/>
			<xsd:element name="antennaCableLength" type="xsd:string"/>
			<xsd:element name="dateInstalled" type="equip:requiredDateType"/>
			<xsd:element name="dateRemoved" type="equip:optionalDateType"/>
			<xsd:element name="notes" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
